@media(max-width: 320px) {
body {
  margin: 0 auto;
  max-width: 320px;
}
nav h1 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.5em;
  color: #323232;
  padding-top: 20px;
}
.end {
  display: none;
}
.hero-container {
  max-width: 320px;
  height: auto;
  position: relative;
  margin-left: 0px;
  margin-top: 0px;
  z-index: 0;
  text-align: center;
  color: white;
  overflow: hidden;
}
.hero-container img {
  width: 150%;
  height: 100%;
  margin-left: -80px;
  background-position: center;
  background-image: url(images/kats-hero-mobile.jpg);
  background-attachment: fixed;
}
.hero-text {
  position: absolute;
  top: 20%;
  left: 16%;
  transform: translate(-50%, -50%);
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 19px;
  text-transform: uppercase;
}

#hero-text1 {
  position: absolute;
  top: 32%;
  left: 48%;
  transform: translate(-50%, -50%);
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 45px;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 2px;
}
#hero-text2 {
  position: absolute;
  bottom: 49%;
  right: -3%;
  transform: translate(-50%, -50%);
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 19px;
  text-transform: uppercase;
}
#hero-cat {
  position: absolute;
  width: 69%;
  height: auto;
  margin-left: 50px;
  margin-right: -72px;
  margin-top: -299px;
}
#splash {
  display: none;
}
.main h1 {
  padding-top: 38px;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 22px;
}
.main h3 {
  margin-left: 29px;
  margin-right: 29px;
  font-family: 'PT Serif', serif;
}

#about {
  background-color: #eeeeee;
  padding: 25px;
}
#about h2 {
  text-align: center;
}
#about p {
  font-family: 'PT Serif', serif;
  font-size: 1.0em;
  line-height: 1.75em;
  color: #323232;
  margin-right: -4px;
  margin-left: 3px;
}

#cat1 {
  display: none;
}
#cat2 {
  display: none;
}
#cat3 {
  border-radius: 180px;
  width: 260px;
  height: 260px;
  margin: 37px;
}
.main .cat-titude, .main .about, .main .images, .main .contact {
  margin-bottom: 20px;
}

.contact {
  background-color: #eeeeee;
  margin-top: 8px;

}

.contact h3 {
  text-align:left;
  padding: 0 30 30 30;
  font-family: 'PT Serif Regular';
  font-size: 1em;
  line-height: 2em;
  color: #323232;
}
.contact1 h3 {
  padding: -97px 39px 23px 42px;
  margin-top: -32px;
  margin-right: -33px;
  font-family: 'PT Serif Regular';
  font-size: 1em;
  line-height: 2em;
  color: #323232;
}
.map {
  max-width: 137%;
  height: 62%;
  position: relative;
  margin-left: -36px;
  margin-top: -64px;
  overflow: hidden;
}
.map img {
  width: 229%;
  height: 136%;
  margin-left: -209px;
  background-position: center;
  background-image: url(images/kats-map.jpg);
  background-attachment: fixed;
}
}
footer {
  font-size: 1.25em;
  font-family: 'PT Sans Narrow Bold', sans-serif;
}


h1 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.875em;
  color: #323232;
  text-align: center;
}
h2 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.5em;
  color: #00897f;
  text-transform: uppercase;
  text-align: center;

}
h3 {
  font-family: 'PT Sans', sans-serif;
  font-size: 1em;
  line-height: 2em;
  color: #323232;
}
h3 a {
  text-decoration: none;
}
p {
  font-family: 'PT Sans', sans-serif;
  font-size: .875em;
  line-height: 1.75em;
  color: #323232;
}
a {
  font-family: 'PT Serif', serif;
  font-size: 1em;
  color: #f26522;
}
footer {
  background-color: #00897f;
  height: 95px;
}
footer h1 {
  font-family: 'PT Sans Narrow Bold', sans-serif;
  font-size: 1.25em;
  color: #eeeeee;
  text-align: center;
}
}

/* On devices wider than 660px */
@media(min-width: 660px) {
}

/* On devices wider than 940px */
@media(min-width: 940px) {
  body {
    margin: 0;
  }
  nav {
    height: 80px;
    width: 100%;
    display: flex;
  }
  .start h1 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.875em;
    color: #323232;
  }
  .container {
    width: 100%;
    display: flex;
    justify-content: center;

  }
  .container .kat {
    margin-right: 60px;
  }
  .container .about {
    background-color: #eeeeee;
    width: 260px;
    padding: 30px;
  }
  .start {
    width: 18%;
    margin-left: 38px;
    justify-content: flex-start;
  }
  .end {
    display: flex;
    width: 80%;
    justify-content: flex-end;
    margin-right: 40px;
    align-items: center;
  }
  .end a {
    text-decoration: none;
    color: #323232;
    cursor: pointer;
  }
  .end a:active {
    color: #323232;
  }
  .end p {
    margin-left: 40px;
    display: inline-block;
    font-family: 'PT Sans', sans-serif;
    font-size: .9em;
    text-transform: uppercase;
    color: #323232;
  }
  .hero-container {
    width: 100%;
    height: 400px;
  }
  .cat-titude h1 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.875em;
    color: #323232;
    text-align: center;
    margin-top: 80px;
  }
  .cat-titude h3 {
    font-family: 'PT Sans', sans-serif;
    font-size: 1em;
    line-height: 2em;
    color: #323232;
    padding-bottom: 80px;
  }
  #splash {
    background: url('../images/kats-hero.jpg');
    background-position: center;
    background-attachment: fixed;
    max-width: 1280px;
    background-repeat: no-repeat;
  }
  .hero-text {
    display: none;
  }
  #hero-text1 {
    display: none;
  }
  #hero-text2 {
    display: none;
  }
  #hero-cat {
    display: none;
  }
  #mobile-splash {
    display: none;
  }
  .main h1 {
    margin-bottom: 45px;
  }
  .main h3 {
    width: 44%;
    margin: 0px auto;
  }
  .container {
    width: 100%;
    justify-content: center;
  }
  .container .kat {
    margin-right: 60px;
  }
  .container .about {
    background-color: #eeeeee;
  }
  .container .about h2 {
    padding-bottom: 0px;
  }
.about h2 {
  font-family: 'PT Sans Narrow', bold;
  font-size: 1.5em;
  color: #00897f;
  text-transform: uppercase;
  text-align: center;
    }

.about p {
    font-family: 'PT Serif', serif;
    font-size: 1.0em;
    line-height: 1.75em;
    color: #323232;
    margin-right: -4px;
    margin-left: 3px;
}

.images {
  width: 100%;
}

.images .container {
  display: flex;
  width: 50%;
  margin: 0px auto;
  justify-content: space-evenly;
}
.images .container img {
  border-radius: 180px;
  width: 200px;
  height: 200px;
  margin-right: 25px;
  margin-left: 25px;
  margin-top: 80px;
}
  #cat1 {
    display: flex;
  }
  #cat2 {
    display: flex;
  }
  #cat3 {
    border-radius: 180px;
    width: 200px;
    height: 200px;
    display: flex;
  }
  .contact {
    background-color: #eeeeee;
    margin-top: 80px;
    margin-bottom: 0px;
    padding-top: 35px;
    height: 500px;
  }
  .contact-main {
    display: flex;
    margin-left: 250px;
    margin-right: 250px;
  }
  .hours {
    background-color: #ffffff;
    width: 300px;
    height: 216px;
    justify-content: flex-start;
    padding: 30px 30px 0px 30px;
    margin-right: 60px;
  }
  .hours h3 {
    width: 67%;
  }
  .info {
    background-color: #ffffff;
    width: 300px;
    height: 216px;
    justify-content: center;
    padding: 30px 30px 0px 30px;
    justify-content: flex-end;
  }
  .info h3 {
    width: 69%;
  }
  .contact1 h3 {
    margin-top: -32px;
    margin-right: 0px;
    font-family: 'PT Serif Regular';
    font-size: 1em;
    line-height: 2em;
    color: #323232;
  }
  .map {
    background: url(../images/kats-map.jpg);
    background-position: center;
    background-attachment: fixed;
    max-width: 1440px;
    background-repeat: no-repeat;
    margin-bottom: -4px;
  }
  .map img {
    width: 100%;
  }
footer h1 {
    padding-top: 32px;
    margin: 0px;
}
}
